<h1>
  All modulos
</h1>

<a href="/modulos/new">
  Add a new modulo
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      Curso
    </th>

    <th>
      Dia
    </th>

    <th>
      Activo
    </th>

    <th>
      Posicion
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @modulos.each do |modulo| %>
  <tr>
    <td>
      <%= modulo.id %>
    </td>

    <td>
      <%= modulo.curso_id %>
    </td>

    <td>
      <%= modulo.dia_id %>
    </td>

    <td>
      <%= modulo.activo %>
    </td>

    <td>
      <%= modulo.posicion %>
    </td>

    <td>
      <%= time_ago_in_words(modulo.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(modulo.updated_at) %> ago
    </td>

    <td>
      <a href="/modulos/<%= modulo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
