<!-- Validation failure messages -->
<% if @modulo.present? %>
  <% if @modulo.errors.any? %>
    <% @modulo.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new modulo
</h1>

<hr>

<form action="/create_modulo" method="post">
  <!-- Label and input for curso_id -->
  <div class="form-group">
    <label for="curso_id">
      Curso
    </label>

    <input type="text" id="curso_id" name="curso_id" class="form-control" value="<%= @modulo.try(:curso_id) %>">
  </div>

  <!-- Label and input for dia_id -->
  <div class="form-group">
    <label for="dia_id">
      Dia
    </label>

    <input type="text" id="dia_id" name="dia_id" class="form-control" value="<%= @modulo.try(:dia_id) %>">
  </div>

  <!-- Label and input for activo -->
  <div class="form-check">
    <input type="hidden" value="0" name="activo">
    <input id="activo" class="form-check-input" name="activo" type="checkbox" <%= "checked" if @modulo.try(:activo) %>>

    <label for="activo" class="form-check-label">
      Activo
    </label>
  </div>

  <!-- Label and input for posicion -->
  <div class="form-group">
    <label for="posicion">
      Posicion
    </label>

    <input type="text" id="posicion" name="posicion" class="form-control" value="<%= @modulo.try(:posicion) %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create modulo
  </button>
</form>

<hr>

<a href="/modulos">
  Go back
</a>
