
<% if current_planificador != nil %>
  
 
  <div class="container">
      <div class="row">
          <a href="/cursos/prof/<%= @curso.id%>" class="btn btn-primary " align="bottom">  Ver profes del curso</a>
          <a href="/cursos/asig/<%= @curso.id%>" class="btn btn-secondary " align="bottom">  Ver asignaturas del curso</a>
          <a href="/cursos/hor/<%= @curso.id%>" class="btn btn-secondary " align="bottom">  Ver horario del curso</a>
      </div>
      <div style="height: 50px;"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="card border-secondary mb-3" >
            <h6 class="card-header text-white bg-secondary mb-3">  Profesores </h6>
            
            <div class="card-body" align="left">
            
              <!--- prof jefe --->
              <div class="card-body">  
                
                  <% if @curso.profesorjefe_id != nil %>
                  <%   profjef = "   " + Profesor.find(@curso.profesorjefe_id).nombre %>
                  <% else %>
                  <%   profjef = "   NA" %>
                  <% end %>
                  <h6> Profesor Jefe:  </h6><h8> <%=profjef %> </h8>
                  
                  <a href="/cursos/<%= @curso.id %>/edit" class="btn btn-primary" align="bottom">  editar </a>
                  
              </div>
              
              
              <!--- Forzado (must) --->
              <div class="card-body">  
                <h6> Forzar profesor </h6>
                <div class="row"> 
                  <div class="col-md-8">
                    <table class="table">
                    <tr>
                      <th>
                        Profesor
                      </th>
                  
                      <th>
                        Asignatura
                      </th>
                      
                      <th>
                        Originador
                      </th>
                      
                      <th>
                      </th>
                    </tr>
                  
                    <% @curso.curso_musts.each do |must| %>
                    <tr>
                      <!--- pre-processing  de variables --->
                      <% profe=Profesor.find(must.profesor_id) %>
                      <% asignas = "" %>
                      <% profe.asignaturas.each do |asig| %>
                      <%   asignas = asignas + ", " +asig.nombre %>
                      <% end %>
                      
                      <td>
                        <%=  profe.nombre %>
                      </td>
                  
                      <td>
                        <%= asignas %>
                      </td>
                  
                      <td>
                        <%= must.creador %>
                      </td>
                  
                      <td>
                        <a href="/delete_must/<%= must.id %>" class="btn btn-warning btn-block" align="bottom">  Eliminar </a>
                      </td>
                  
                    </tr>
                    <% end %>
                  </table>
                  </div>
                  <div class="col-md-4">
                    <div class="card border-secondary mb-3" style="height: 100%;">
                      <div class="card-body">
                        <form action="/create_must" method="post">
                          
                          <!-- Label and input for dia_id -->
                          <div class="form-group">
                            <label for="profesor_id">
                              Elige el profesor
                            </label>
                        
                            <%= select_tag("profesor_id", options_from_collection_for_select(Colegio.find(current_planificador.colegio_id).profesors, :id, :nombre, :class => "form-control")) %>
                          </div>
                          
                          <input type="hidden" id="curso_id" name="curso_id" class="form-control" value="<%= @curso.id %>">
                          <input type="hidden" id="creador" name="creador" class="form-control" value="<%= current_planificador.email %>">
                          
                          <button class="btn btn-block-warning">
                            Forzar profesor
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <!--- Prohibido (cant) --->
              <div class="card-body">  
                <h6> Prohibir profesor </h6>
                <div class="row"> 
                  <div class="col-md-8">
                    <table class="table">
                    <tr>
                      <th>
                        Profesor
                      </th>
                  
                      <th>
                        Asignatura
                      </th>
                      
                      <th>
                        Originador
                      </th>
                      
                      <th>
                      </th>
                    </tr>
                  
                    <% @curso.curso_cants.each do |cant| %>
                    <tr>
                      <!--- pre-processing  de variables --->
                      <% profe=Profesor.find(cant.profesor_id) %>
                      <% asignas = "" %>
                      <% profe.asignaturas.each do |asig| %>
                      <%   asignas = asignas + ", " +asig.nombre %>
                      <% end %>
                      
                      <td>
                        <%=  profe.nombre %>
                      </td>
                  
                      <td>
                        <%= asignas %>
                      </td>
                  
                      <td>
                        <%= cant.creador %>
                      </td>
                  
                      <td>
                        <a href="/delete_cant/<%= cant.id %>" class="btn btn-warning btn-block" align="bottom">  Eliminar </a>
                      </td>
                  
                    </tr>
                    <% end %>
                  </table>
                  </div>
                  <div class="col-md-4">
                    <div class="card border-secondary mb-3" style="height: 100%;">
                      <div class="card-body">
                        <form action="/create_cant" method="post">
                          
                          <!-- Label and input for dia_id -->
                          <div class="form-group">
                            <label for="profesor_id">
                              Elige el profesor
                            </label>
                        
                            <%= select_tag("profesor_id", options_from_collection_for_select(Colegio.find(current_planificador.colegio_id).profesors, :id, :nombre, :class => "form-control")) %>
                          </div>
                          
                          <input type="hidden" id="curso_id" name="curso_id" class="form-control" value="<%= @curso.id %>">
                          <input type="hidden" id="creador" name="creador" class="form-control" value="<%= current_planificador.email %>">
                          
                          <button class="btn btn-block-warning">
                            Prohibir profesor
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>

<% end %>