<% if current_planificador != nil %>
  
  <div class="container">
      
      <div class="row">
          <a href="/profesors/curs/<%= @profesor.id%>" class="btn btn-primary " align="bottom">  Ver cursos del profe </a>
          <a href="/profesors/asig/<%= @profesor.id%>" class="btn btn-secondary " align="bottom">  Ver asignaturas del profe</a>
          <a href="/profesors/hor/<%= @profesor.id%>" class="btn btn-secondary " align="bottom">  Ver horario del profe</a>
      </div>
      
      <div style="height: 50px;"></div>
      
      <!--- cursos --->
      <div class="row">
        <div class="col-md-12">
          <div class="card border-secondary mb-3" >
            <h6 class="card-header text-white bg-secondary mb-3">  Profesores </h6>
            
            <div class="card-body" align="left">
            
              <!--- prof jefe --->
              <div class="card-body">  
                
                  <% if Curso.where(:profesorjefe => @profesor.id).any? %>
                  <%   curso = "   " + Curso.where(:profesorjefe => @profesor.id).last.nombre %>
                  <% else %>
                  <%   curso = "   NA" %>
                  <% end %>
                  <h6> Jefatura:  </h6><h8> <%=curso %> </h8>
                  
                  <% if Curso.where(:profesorjefe => @profesor.id).any? %>
                  <a href="/curso/<%= Curso.where(:profesorjefe => @profesor.id).last.id %>/edit" class="btn btn-primary" align="bottom">  editar </a>
                  <% end %>
                  
              </div>

              <!--- Forzado (must) --->
              <div class="card-body">  
                <h6> Forzar curso </h6>
                <div class="row"> 
                  <div class="col-md-8">
                    <table class="table">
                    <tr>
                      <th>
                        Curso
                      </th>
                      
                      <th>
                        Originador
                      </th>
                      
                      <th>
                      </th>
                    </tr>
                  
                    <% @profesor.musts.each do |must| %>
                    <tr>
                      <!--- pre-processing  de variables --->
                      <% curso=Curso.find(must.curso_id) %>
                      <% asignas = "" %>

                      
                      <td>
                        <%=  curso.nombre %>
                      </td>
                  
                      <td>
                        <%= must.creador %>
                      </td>
                  
                      <td>
                        <a href="/delete_must/<%= must.id %>" class="btn btn-warning btn-block" align="bottom">  Eliminar </a>
                      </td>
                  
                    </tr>
                    <% end %>
                  </table>
                  </div>
                  
                  <!--- generar must ---> 
                  <div class="col-md-4">
                    <div class="card border-secondary mb-3" style="height: 100%;">
                      <div class="card-body">
                        <form action="/create_must" method="post">
                          
                          <!-- Label and input for dia_id -->
                          <div class="form-group">
                            <label for="curso_id">
                              Elige el curso
                            </label>
                        
                            <%= select_tag("curso_id", options_from_collection_for_select(Colegio.find(current_planificador.colegio_id).cursos, :id, :nombre, :class => "form-control")) %>
                          </div>
                          
                          <input type="hidden" id="profesor_id" name="curso_id" class="form-control" value="<%= @profesor.id %>">
                          <input type="hidden" id="creador" name="creador" class="form-control" value="<%= current_planificador.email %>">
                          
                          <button class="btn btn-block-warning">
                            Forzar curso
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <!--- Prohibido (cant) --->
              <div class="card-body">  
                <h6> Prohibir curso </h6>
                <div class="row"> 
                  <div class="col-md-8">
                    <table class="table">
                    <tr>
                      <th>
                        Curso
                      </th>
                      
                      <th>
                        Originador
                      </th>
                      
                      <th>
                      </th>
                    </tr>
                  
                    <% @profesor.cants.each do |cant| %>
                    <tr>
                      <!--- pre-processing  de variables --->
                      <% curso=Curso.find(cant.curso_id) %>
                      <% asignas = "" %>

                      
                      <td>
                        <%= curso.nombre %>
                      </td>
                  
                      <td>
                        <%= cant.creador %>
                      </td>
                  
                      <td>
                        <a href="/delete_cant/<%= cant.id %>" class="btn btn-warning btn-block" align="bottom">  Eliminar </a>
                      </td>
                  
                    </tr>
                    <% end %>
                  </table>
                  </div>
                  
                  <!--- Crear un cant --->
                  <div class="col-md-4">
                    <div class="card border-secondary mb-3" style="height: 100%;">
                      <div class="card-body">
                        <form action="/create_cant" method="post">
                          
                          <!-- Label and input for curso_id -->
                          <div class="form-group">
                            <label for="curso_id">
                              Elige el curso
                            </label>
                        
                            <%= select_tag("curso_id", options_from_collection_for_select(Colegio.find(current_planificador.colegio_id).cursos, :id, :nombre, :class => "form-control")) %>
                          </div>
                          
                          <input type="hidden" id="profesor_id" name="profesor_id" class="form-control" value="<%= @profesor.id %>">
                          <input type="hidden" id="creador" name="creador" class="form-control" value="<%= current_planificador.email %>">
                          
                          <button class="btn btn-block-warning">
                            Prohibir profesor
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>

<% end %>