<!-- Validation failure messages -->
<% if @sol_profe.errors.any? %>
  <% @sol_profe.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit sol profe #<%= @sol_profe.id %>
</h1>

<hr>

<form action="/update_sol_profe/<%= @sol_profe.id %>" method="post">
  <!-- Label and input for solucion_id -->
  <div class="form-group">
    <label for="solucion_id">
      Solucion
    </label>

    <input type="text" id="solucion_id" name="solucion_id" class="form-control" value="<%= @sol_profe.solucion_id %>">
  </div>

  <!-- Label and input for posicion -->
  <div class="form-group">
    <label for="posicion">
      Posicion
    </label>

    <input type="text" id="posicion" name="posicion" class="form-control" value="<%= @sol_profe.posicion %>">
  </div>

  <!-- Label and input for asignatura_id -->
  <div class="form-group">
    <label for="asignatura_id">
      Asignatura
    </label>

    <input type="text" id="asignatura_id" name="asignatura_id" class="form-control" value="<%= @sol_profe.asignatura_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update sol profe
  </button>
</form>

<hr>

<a href="/sol_proves">
  Go back
</a>
