<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">
        <%= resource_name != "user" ? resource_name.to_s.titleize : "" %> Sign Up
      </h5>

      <div class="card-body">
        <% was_validated = resource.errors.any? %>

        <% form_html_options = { novalidate: true, class: "mb-3" } %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: form_html_options) do |f| %>
          <div class="form-group">
            <% email_was_invalid = resource.errors.include?(:email) %>

            <% email_class = "form-control" %>

            <% if was_validated %>
              <% if email_was_invalid %>
                <% email_class << " is-invalid" %>
              <% else %>
                <% email_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :email %>

            <%= f.email_field :email, class: email_class, autofocus: true %>

            <% if email_was_invalid %>
              <% resource.errors.full_messages_for(:email).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% password_was_invalid = resource.errors.include?(:password) %>

            <% password_class = "form-control" %>

            <% if was_validated %>
              <% if password_was_invalid %>
                <% password_class << " is-invalid" %>
              <% else %>
                <% password_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :password %>

            <%= f.password_field :password, class: password_class %>

            <% if password_was_invalid %>
              <% resource.errors.full_messages_for(:password).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% password_confirmation_was_invalid = resource.errors.include?(:password_confirmation) %>

            <% password_confirmation_class = "form-control" %>

            <% if was_validated %>
              <% if password_confirmation_was_invalid %>
                <% password_confirmation_class << " is-invalid" %>
              <% else %>
                <% password_confirmation_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :password_confirmation %>

            <%= f.password_field :password_confirmation, class: password_confirmation_class %>

            <% if password_confirmation_was_invalid %>
              <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          
          <!-- Devise Input for colegio_id start -->
          <div class="form-group">
            <% colegio_id_was_invalid = resource.errors.include?(:colegio_id) %>

            <% colegio_id_class = "form-control" %>

            <% if was_validated %>
              <% if colegio_id_was_invalid %>
                <% colegio_id_class << " is-invalid" %>
              <% else %>
                <% colegio_id_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :colegio_id %>

            <%= f.number_field :colegio_id, :class => colegio_id_class, :placeholder => "Enter colegio id" %>

            <% if colegio_id_was_invalid %>
              <% resource.errors.full_messages_for(:colegio_id).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Devise Input for colegio_id end -->
          
          <!-- Devise Input for departamento_id start -->
          <div class="form-group">
            <% departamento_id_was_invalid = resource.errors.include?(:departamento_id) %>

            <% departamento_id_class = "form-control" %>

            <% if was_validated %>
              <% if departamento_id_was_invalid %>
                <% departamento_id_class << " is-invalid" %>
              <% else %>
                <% departamento_id_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :departamento_id %>

            <%= f.number_field :departamento_id, :class => departamento_id_class, :placeholder => "Enter departamento id" %>

            <% if departamento_id_was_invalid %>
              <% resource.errors.full_messages_for(:departamento_id).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Devise Input for departamento_id end -->
          
          <!-- Devise Input for nombre start -->
          <div class="form-group">
            <% nombre_was_invalid = resource.errors.include?(:nombre) %>

            <% nombre_class = "form-control" %>

            <% if was_validated %>
              <% if nombre_was_invalid %>
                <% nombre_class << " is-invalid" %>
              <% else %>
                <% nombre_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :nombre %>

            <%= f.text_field :nombre, :class => nombre_class, :placeholder => "Enter nombre" %>

            <% if nombre_was_invalid %>
              <% resource.errors.full_messages_for(:nombre).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Devise Input for nombre end -->
          <%= f.button class: "btn btn-outline-primary btn-block" %>

          <hr>

          <%= render "coordinadors/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
