<!DOCTYPE html>
<html>
<head>
      <title>Horario Fácil</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/litera/bootstrap.min.css"> 

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <!--- Math compilator --->
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"> </script>

</head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Horario Fácil</a>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
  
            <% if current_planificador != nil %>
  
              <li class="nav-item dropdown">
                
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ver Menú
                </a>
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/"> Placeholder </a>
                    <a class="dropdown-item" href="/"> Placeholder </a>
                    <a class="dropdown-item" href="/"> Placeholder </a>
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="/pre_exes/new"> Crear nuevo curso </a></li>
  
            <% elsif current_coordinador != nil %>
              
              <li class="nav-item"><a class="nav-link" href="/">Placeholder</a></li>
              <li class="nav-item"><a class="nav-link" href="/">Placeholder</a></li>
              
            <% end %>
            
          </ul>
  
          <ul class="navbar-nav">
            <% if current_planificador != nil %>
              <li class="nav-item">
                <a href="/" class="nav-link" >
                  <%= current_planificador.email %>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/planificadors/sign_out" data-method="delete" class="nav-link">
                  Cerrar sesión
                </a>
              </li>
            <% elsif current_coordinador == nil %>
              <li class="nav-item">
                <a href="/coordinadors/sign_in" class="nav-link" >
                  Entrar como Coordinador
                </a>
              </li>
              <li class="nav-item">
                <a href="/planificadors/sign_in" class="nav-link" >
                  Entrar como Planificador
                </a>
              </li>
              
              <!--- <li class="nav-item">
                <a href="/creadors/sign_up" class="nav-link" >
                  Sign Up
                </a>
              </li> --->
            
            <% else %>
            
              <li class="nav-item">
                <a href="/" class="nav-link" >
                  <%= current_coordinador.email %>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="/coordinadors/sign_out" data-method="delete" class="nav-link">
                  Cerrar sesión
                </a>
              </li>
            
            <% end %> 
            
          </ul>
        </div>
      </nav>
    
    <!--- MENSAJE AL ALUMNO ---> 
    <% if flash[:notice].present? %>
      <% cla = "alert alert-info" %>
      <% if flash[:notice]=="Correcto! Sigamos así" %>
            <% cla = "alert alert-success" %>
      <% elsif flash[:notice]=="No exactamente. Probemos con este:" %>
          <% cla = "alert alert-warning" %>
      <%end%>
      
      <div class="<%= cla %>" role="alert" align="center">
            <%= flash[:notice] %>
      </div>
  <% end %>  

  <div class="container">
    <div class="col-md-12">

      <%= yield %>

    </div>
  </div>
  <%= dev_tools if Rails.env.development? %>
</body>
</html>
